.yellow-bg {
	background-color: hsl($yellow-hue, 84%, 53%);
}

.grey-bg {
	background-color: hsl($blue-hue, 5%, 85%);
}

.white-bg {
	background-color: $white-max;
}

.light-grey-bg {
	background-color: $white-med;
}

.drk-blue-bg {
	background-color: $brand-primary;
}