.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	&-half {
		flex: 50% 1 1;
	}

	&column {
		display: flex;
		flex-direction: column;
	}
}

.justify {
	&-sa {
		justify-content: space-around;
	}

	&-sb {
		justify-content: space-between;
	}

	&-start {
		justify-content: flex-start;
	}

	&-center {
		justify-content: center;
	}
}

.align {

	&-center {
		align-items: center;
	}

	&-stretch {
		align-items: stretch;
	}
}

.alignself {
	&-end {
		align-self: flex-end;
	}
}

.grow {
	flex-grow: 1;
}

.shrink {
	flex-shrink: 1;
}

.growshrink {
	flex-grow: 1;
	flex-shrink: 1;
}