.flex {
	display: flex;
	flex-wrap: wrap;

	&-half {
		flex: 50% 1 1;
	}
}

.justify {
	&-sa {
		justify-content: space-around;
	}

	&-start {
		justify-content: flex-start;
	}

	&-center {
		justify-content: center;
	}
}

.align {

	&-center {
		align-items: center;
	}
}