.inline-x {
	&:after {
		background-image: url('/img/yellow-x.svg');
		background-size: contain;
		content: '';
		display: inline-block;
		position: absolute;
		height: 60px;
		width: 60px;
		left: 17.4rem;
		bottom: 1rem;
		z-index: -1;
	} 
}

.yellow-x {
	background: url('/img/yellow-x.svg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 60px;
	width: 60px;
	z-index: -1;

	&--top-left {
		top: 2rem;
		left: -0.5rem;
	}

	&--top-middle {
		top: 0.5rem;
		right: 40%;
	}
	
	&--top-right {
		top: -1rem;
		right: 3rem;
	}

	&--bottom-right {
		bottom: 1rem;
		right: 3rem;
	}
}