.full-width {
	width: 100%;
}

.padded {

	&-tiny {
		padding: .3rem;
	}

	&-sm {
		padding: 1.333rem;
	}

	&-med {
		padding-top: 2.365rem;
	}

	&-lrg {
		padding-top: 5rem;
	}
}

.pt- {

	&tiny {
		padding-top: .3rem;
	}

	&sm {
		padding-top: 1.333rem;
	}

	&med {
		padding-top: 2.365rem;
	}

	&lrg {
		padding-top: 5rem;
	}
}

.pb- {

	&tiny {
		padding-bottom: .3rem;
	}

	&sm {
		padding-bottom: 1rem;
	}

	&med {
		padding-bottom: 2rem;
	}

	&lrg {
		padding-bottom: 4rem;
	}
}

.pr- {

	&tiny {
		padding-right: .3rem;
	}

	&sm {
		padding-right: 1rem;
	}

	&med {
		padding-right: 2rem;
	}

	&lrg {
		padding-right: 4rem;
	}
}

.pl- {

	&tiny {
		padding-left: .3rem;
	}

	&sm {
		padding-left: 1rem;
	}

	&med {
		padding-left: 2rem;
	}

	&lrg {
		padding-left: 4rem;
	}
}

.mt- {

	&tiny {
		margin-top: .3rem;
	}

	&sm {
		margin-top: 1rem;
	}

	&med {
		margin-top: 2rem;
	}

	&lrg {
		margin-top: 4rem;
	}
}

.mb- {

	&tiny {
		margin-bottom: .3rem;
	}

	&sm {
		margin-bottom: 1rem;
	}

	&med {
		margin-bottom: 2rem;
	}

	&lrg {
		margin-bottom: 4rem;
	}
}

.mr- {

	&tiny {
		margin-right: .3rem;
	}

	&sm {
		margin-right: 1rem;
	}

	&med {
		margin-right: 2rem;
	}

	&lrg {
		margin-right: 4rem;
	}
}