.banner {
	display: flex;
	overflow: hidden;
	background-color: $brand-primary;
	background-image: url("/img/background-2.svg");

	h1 {
	    background: $white-max;
	    padding: 1.3rem;
	    transform: rotate(-2deg) translateY(30%);
	}

	p {
		background: $brand-primary;
		color: $white-max;
	}

	&__message {
		padding: 6rem 2rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: 650px;
		width: 100%;
	}

	&__button {
		padding: .7rem 2rem;
		background-color: $yellow;
		color: $blue;

		&:hover {
			background-color: $yellow-dark;
			color: $blue;
			transform: rotate(3deg);
		}
	}
}

.cafe-logos {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__logo {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		flex: 140px 1 1;
		height: 92px;
		margin: 1rem;
	}

	.logo {
		&-pilot {
			background-image: url('/img/logo-pilot.svg');
		}
		&-boxcar {
			background-image: url('/img/logo-boxcar.svg');
		}
		&-coffee-lab {
			background-image: url('/img/logo-coffee-lab.svg');
		}
		&-dmp {
			background-image: url('/img/logo-dmp.svg');
		}
		&-hot-black {
			background-image: url('/img/logo-hot-black.svg');
		}
		&-neo {
			background-image: url('/img/logo-neo.svg');
		}
		&-sorry {
			background-image: url('/img/logo-sorry.svg');
		}
		&-tucana {
			background-image: url('/img/logo-tucana.svg');
		}
		&-voodoo {
			background-image: url('/img/logo-voodoo.svg');
		}
		&-propeller {
			background-image: url('/img/logo-propeller.svg');
		}
	}
}

.preview-images {

	&--img {
		background-size: cover;
		background-position: 50%; 
		height: 200px;
		flex: 16.66% 1 1;
	}

	&--pilot {
		background-image: url('/img/img-pilot.jpg'); 
	}

	&--boxcar {
		background-image: url('/img/img-boxcar.jpg');
	}

	&--neo {
		background-image: url('/img/img-neo.jpg');
	}

	&--jacked-up {
		background-image: url('/img/img-jacked-up.jpg');
	}

	&--sorry {
		background-image: url('/img/img-sorry.jpg');
	}

	&--hot-black {
		background-image: url('/img/img-hot-black.jpg');
	}
}

.passport, .experience, .extra {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.passport {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__image {
		width: 460px;
		padding: 2rem;
	}

	&__description {
		width: 460px;
		padding: 2rem;
		position: relative;
	}
}

.experience {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__image {
		width: 100%;
		max-width: 650px;
		padding: 2rem;
	}

	&__description {
		max-width: 600px;
		padding: 2rem;
		position: relative;
	}
}

.extras {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__image {
		width: 460px;
		padding: 2rem;
	}

	&__description {
		width: 460px;
		padding: 2rem;
		position: relative;
	}
}

.flag {
	background-color: $brand-primary;
	color: $body-bg;
	display: inline-block;
	margin-bottom: 0;
	padding: 1rem;
    transform: translateY(28%);
}

.thirty-three {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: $yellow;
	align-items: center;
 
	.image {
		background: url('/img/33cups.jpg');
		background-size: cover;
		flex: 460px 1 1;
		height: 300px;
	}

	.description-wrapper {
		display: flex;
		justify-content: center;
		flex: 460px 1 1;
	}

	.description {
		flex-basis: 460px;
		padding: 2rem;
	}
}

.roasters-pack {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: $yellow;
	align-items: center;
 
	.image {
		background: url('/img/roasters-pack.jpg');
		background-size: cover;
		flex: 460px 1 1;
		height: 300px;
	}

	.description-wrapper {
		display: flex;
		justify-content: center;
		flex: 460px 1 1;
	}

	.description {
		flex-basis: 460px;
		padding: 2rem;
	}
}

.purchase {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	&__item {
		align-items: center;
		background-color: $body-bg;
		border: 1px solid hsl(220, 58%, 25%);
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
		max-width: 300px;
		margin: 1rem;
		padding: 2rem;
		text-align: center;
		width: 100%;

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				border-top: 1px dotted $white-med;
				margin-bottom: .3rem;
				padding-top: .3rem;
			}
		}
	}

	&__buy {
		align-self: flex-end;
	}

	&__price {
		color: $brand-primary;
		font-weight: 800;
		font-size: 4rem;

		sup {
			font-size: 2rem;
		}

		sub {
			font-weight: 400;
			font-size: 1rem;
		}
	}

	&__discount {
		border: 4px dotted $blue;
		background-color: $white-med;
	}
}

@media (max-width: 920px) {
	.banner {
		&__message {
			padding: 2rem;

			h1 {
				font-size: 1.769rem;
			}
		}
	}
	.roasters-pack {
		.description-wrapper {
			order: 1;
		}
	}
}