h1, h2, h3, h4, h5, h6 {
	color: $brand-primary;
	letter-spacing: 0.2rem;
	font-family: "acier-bat-solid";
}

html {font-size: 1em;}

body {
  font-weight: 400;
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .huge {
  margin-top: 0;
  font-size: 3.157em;
}

h2, .x-large {font-size: 2.369em;}

h3, .large {font-size: 1.777em;}

h4, .medium {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.text- {
  &heavy {
    font-weight: 800;
  }

  &bold {
    font-weight: 600;
  }
}

.text-plain {
  &:hover {
    text-decoration: none;
  }
}