// Palette
// Hues
$blue-hue: 220;
$yellow-hue: 44;

$white-max: hsl($blue-hue, 5%, 95%);
$white-med: hsl($blue-hue, 5%, 89%);
$white-min: hsl($blue-hue, 5%, 83%); 

$grey-med: hsl($blue-hue, 16%, 70%);

// Body
$body-bg: $white-max;

// Brand
	$yellow: hsl($yellow-hue, 84%, 53%);
	$yellow-dark: hsl($yellow-hue, 85%, 45%);

	$blue: hsl($blue-hue, 58%, 25%);

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $blue;
$brand-info: hsl($blue-hue, 58%, 25%);
$brand-success: #2ab27b;
$brand-warning: hsl($yellow-hue, 84%, 53%);
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: hsl(220, 2%, 34%);

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       1px;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
