.stop-list {
	display: inline-block;
	border-bottom: $white-min 1px solid;

	&:hover {
		border-bottom: $brand-primary 1px solid;
	}
}

.tour-overview {

	&__card {
		flex-shrink: 1;
    	flex-basis: 300px;
    	margin-right: 1.677rem;
	}

}